.content{
  min-height: 800px;
  background: rgba(255,255,255,0.93);
  width: 80%;
  margin: 0 auto;
  margin-top: 61px;	
  min-width: 800px;
  
}
a {
	text-decoration: none
}

.back-bg{
	background: url("../img/desk.jpg") no-repeat;
	background-size: 100% auto;
	width: 100%;
	#height: 100%
	position: relative;
	background-attachment: fixed;
}
.headLine {
	position: fixed;
	width: 100%;
	top:0;
	z-index: 999;
}
